<h1>Rules & Regulations:</h1>
<div class="about">
<ul class="rules">
<li>Leave your personal belongings such as handbags, briefcases, etc., outside the library entrance, on your own responsibility. The library disclaims any liability for any loss or damage.</li>
<li>Do not write, underline or mark any book. Mutilation of library material can lead to heavy fine and a disciplinary action against the patron.</li>
<li>After reading, leave books on the table or on the book trolley. Please do not shelve the books.</li>
<li>Complete silence should be observed except for brief and subdued talk with the library staff.</li>
<li>Keep your mobiles switched-off or on silent mode within the library premises.</li>
<li>Library staff may ask visitors to show their ID at any time.</li>
<li>Drinks and eatables are not allowed in the main library. Only drinking water is allowed inside the library.</li>
<li>Smoking including electronic cigarettes, use of alcohol or other drugs is strictly prohibited inside the library.</li>
<li>Short pants and other inappropriate dresses are strictly not allowed in the library.</li>
<li>Do not change configuration of computers or any other equipment in the library.</li>
<li>Government of Pakistan code of conduct must be observed while using online web contents and IT applications.</li>
<li>Senior citizens and special persons should be given preference.</li>
<li>Get permission to use auditorium and discussion rooms.</li>
<li>Do not relocate furniture, fixtures, computer hardware and other library items.</li>
<li>Access to administrative offices, stores, security appliances, electric panels, HVAC and other areas is prohibited for library users.</li>
<li>Antisocial, harassing or threatening behaviours will not be tolerated. Offenders will be required to leave, and repeat offenders will be banned indefinitely from using the Library.</li>
<li>Using obscene or abusive language or gestures are strictly discouraging.</li>
<li>Possessing a knife, gun, or any other weapon are strictly prohibited in the library premises.</li>
<li>Ethnic, sectarian and other hate speeches, materials distribution, and discussions, are strictly prohibited in the library</li>
<li>Library staff reserve the right to inspect bags or other personal property when visitors enter or leave the Library.</li>
<li>Some items in the Library cannot be copied because of copyright laws, poor condition, or donor restriction.</li>
<li>Photography and recording are not allowed on Library premises without prior permission.</li>
<li>Certain rooms and other Library spaces may have additional restrictions.</li>
<li>Visitors with disabilities may ask Library staff for reasonable accommodations.</li>
</ul>
</div>

