h1{
    margin-left: 55px;
    color: blue;
}
.bg
{
    background-image: url(/assets/librarybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bg h2{
    color: blue;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.head{
    display: flex;
    background-color: gray;
    margin-bottom: 1px;
    border:1px solid;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
    

}
ul li{
    text-decoration: none;
    margin-left: 150px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color:white;
}


p{
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}
h3{
    font-weight: bold;
    color: red;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}
.about
{
    border: 1px solid;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}
mat-icon
{
    color: red;
}