
<form #login="ngForm" (ngSubmit)="onLogin(login)">
    <h1>Login Page</h1>
     <div class="mm">
        <label for="Email">User Name:</label>
     <p><mat-icon>person</mat-icon><input type="text" name="email" placeholder="Enter User Name" [(ngModel)]="loginObj.email" required email #email="ngModel"></p>
        </div><br/>
        <div class="mm">
            <label for="password">Password:</label>
           <p><mat-icon> vpn_key</mat-icon><input type="password" name="pswd" placeholder="Enter password" [(ngModel)]="loginObj.password" required #password="ngModel"></p>
        
        </div>
        <div>
            <button [disabled]="!login.valid">Login</button>
        </div>
    
</form>


    


