
<form #login="ngForm" (ngSubmit)="onLogin(login)">
    <h1>Login Page</h1>
     <div>
        <label for="Email">User Name:</label>
     <p><input type="text" name="email" placeholder="Enter User Name" [(ngModel)]="loginObj.email" required email #email="ngModel" ngModel ></p>
        </div>
        <div>
            <label for="password">Password:</label>
           <p><input type="password" name="pswd" placeholder="Enter password" [(ngModel)]="loginObj.password" required #password="ngModel" ngModel></p>
        
        </div>
        <div>
            <button [disabled]="!login.valid">Login</button>
        </div>
    
</form>


    


