<h1>Edit Book</h1>
<div class="block">
   <form *ngIf="books">
      <p>
      <label>Book Id</label>
      <input type="text" value="{{books.bookId}}">
      </p>
      <p>
      <label>Book Title</label>
      <input type="text" value="{{books.bookTitle}}">
      </p>
      <p>
      <label>Book Description</label>
      <input type="text" value="{{books.bookDescription}}">
      </p>
      <p>
      <label>Author Name</label>
      <input type="text" value="{{books.authorName}}">
      </p>
   <p>
      <label>Number Of Books Available</label>
      <input type="text" value="{{books.numberOfBooksAvailable}}">
   </p>
   <p>
      <button type="submit" (click)="onEdit()">Update</button>
   </p>
   </form>
</div>