mat-icon
{
    color:red;
}
h1
{
    margin-left: 350px;
    color: red;
}

label{
    margin-left: 250px;
    margin-bottom: 1px;
}
input
{ 
    width:180px;
    float: right;
    margin-right: 200px;
    margin-bottom: 2px;
}
button{
    margin-left: 550px;
    background-color: orange;
    color:white;
    border-radius: 50px;
}
.block
{
    border:1px solid;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
    background-image: url("/assets/background.jpg");

}

