<div class="block">
   <form *ngIf="books">
    <h1>Edit Book</h1>
      <p>
      <label>Book Id</label>
      <input type="text" value="{{books.bookId}}" [disabled]="!books.isEditable"/>
      </p>
      <p>
      <label>Book Title</label>
      <input type="text" value="{{books.bookTitle}}" [disabled]="!books.isEditable"/>
      </p>
      <p>
      <label>Book Description</label>
      <input type="text" value="{{books.bookDescription}}" [disabled]="!books.isEditable"/>
      </p>
      <p>
      <label>Author Name</label>
      <input type="text" value="{{books.authorName}}" [disabled]="!books.isEditable"/>
      </p>
   <p>
      <label>Number Of Books Available</label>
      <input type="text" value="{{books.numberOfBooksAvailable}}" [disabled]="!books.isEditable"/>
   </p>
   <p>
      <button (click)="books.isEditable=!books.isEditable" *ngIf="!books.isEditable">Edit</button>
      <button *ngIf="books.isEditable" (click)="books.isEditable=!books.isEditable">Save</button>
   </p>
   </form>
</div>
