<h1>E-Library System</h1>
<ul>
   
   <li><a routerLink="/home"><mat-icon>home</mat-icon></a></li>
   <li><a routerLink="/signup">Register</a></li>
   <li><a routerLink="/about">About Library</a></li>
   <li><a routerLink="/rules">Rules & Regulations</a></li>
   <li><a routerLink="/price">Price Card</a></li>
   <li *ngIf="usrRol=='admin'"><a routerLink="/addBook"> Add Book</a></li>
   <li *ngIf="usrRol=='admin'"><a routerLink="/edit">Edit</a></li>
   <li *ngIf="usrRol=='admin'"><a routerLink="/delete">Delete</a></li>
   <li *ngIf="loggedIn()"><a routerLink="/search">Search</a></li>
   <li *ngIf="!loggedIn()"><a routerLink="/login"><img src="../assets/login.jpg" width="30px"></a></li>
   <li *ngIf="loggedIn()"><a routerLink="/login" (click)="onLogout()"><img src="../assets/logout.jpg" width="30px"></a></li>
   </ul>
<router-outlet></router-outlet>