ul{
    display: flex;
    background-color: gray;
    margin-bottom: 1px;
    border:1px solid;
    margin-inline-start: 300px;
    margin-inline-end: 300px;

}
ul li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
    padding-top: 10px;
}
ul li a{
    text-decoration: none;
    color:white;
}
ul li a:hover
{
    background-color: orange;
}
h1{
    text-align: center;
    color: blue;
    }
mat-icon
{
    color: red;
}
