
mat-icon
{
    color:red;
}
h1
{
    margin-left: 30px;
    color: blue;
}
form{
    margin-left: 30px;
    margin-inline-end: 1px;
}
input
{ 
    width:180px;
    float: right;
    margin-right: 400px;
}
button{
    margin-left: 290px;
    background-color: orange;
    color:white;
    border-radius: 50px;
}
h2{
    margin-left: 30px;
    margin-top: 20px;
    color:blue;
}
.block
{
    border: 1px solid;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
    background-color: bisque;
}
table{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
