<div>
  <h1>Edit</h1>
<h3>Search Book</h3>
<p><label>Book Title:</label>
<input type="text" [(ngModel)]="searchBook"></p>
<p><button type="submit" [(ngModel)]="searchBook">Search</button></p>
<table border="1">
    <tr>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Book Description</th>
        <th>Author</th>
        <th>Number of books available</th>
        <th>Action</th>
  </tr>
  <tr *ngFor="let booklst of bookList | search:searchBook ">
    <td>{{booklst.bookId}}</td>
    <td>{{booklst.bookTitle}}</td>
    <td>{{booklst.bookDescription}}</td>
    <td>{{booklst.authorName}}</td>
    <td>{{booklst.numberOfBooksAvailable}}</td>
    <td *ngIf="usrRol=='admin'"><img src="../assets/edit.jpg" width="20px" [routerLink]="['/edit',booklst.bookId]"></td>
  </tr>
</table>
</div>
