<h1>Search Books</h1>
<ul>
    <mat-icon>home</mat-icon>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About Library</a></li>
    <li><a routerLink="/rules">Rules & Regulations</a></li>
    <li><a routerLink="/price">Price Card</a></li>
    <li *ngIf="loggedin()"><a routerLink="/search" (click)="onSearch()">Search</a></li>
    </ul>
    <div>
<h3>Search Book</h3>
<p><label>Book Title:</label>
<input type="text" [(ngModel)]="searchBook"></p>
<p><button type="submit" [(ngModel)]="searchBook">Search</button></p>
<table border="1">
    <tr>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Book Description</th>
        <th>Author</th>
        <th>Number of books available</th>
        <th>Action</th>
  </tr>
  <tr *ngFor="let booklst of bookList | search:searchBook">
    <td>{{booklst.bookId}}</td>
    <td>{{booklst.bookTitle}}</td>
    <td>{{booklst.bookDescription}}</td>
    <td>{{booklst.authorName}}</td>
    <td>{{booklst.numberOfBooksAvailable}}</td>
    <td *ngIf="usrRol=='user'"><a (click)="dec(booklst)">Purchase</a></td>
  </tr>
</table>
</div>

