
button
{   
    margin-left: 120px;
    width: 80px;
    padding: 5px;
    background-color: orange;
    border-radius: 15px;
    color: white;
}
table
{
    border: 1px solid;
    margin: 20px;
}
div{
    border: 1px solid;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
    background-color: aqua;
}
label{
    margin-left: 20px;
}
mat-icon
{
    color: red;
}
h1{
    color: red;
    margin-left: 330px;
    
}
a{
    color:blue;
}