<div class="block">
    <form #register="ngForm" (ngSubmit)="onSubmit(register)">
        <h1>Registration Page</h1>
        <div>
            <label for="FirstName">First Name</label>
            <p><input type="text" name="firstName"  placeholder="First name" [(ngModel)]="signupObj.firstName" required pattern="^[a-zA-Z]*+$" #firstName="ngModel" ngModel></p>
            </div>
        <div>
          <label for="lastName">Last Name</label>
          <p><input type="text" name="lastName"  placeholder="Last name" [(ngModel)]="signupObj.lastName" required pattern="^[a-zA-Z]*+$" #lastName="ngModel" ngModel></p>
          
          </div>
        <div>
        <label for="email">Email Address</label>
        <p><input type="text" name="email"  placeholder="Enter email" [(ngModel)]="signupObj.email" required email #email="ngModel" ngModel></p>
        <p style="color:red">Your email will be a username</p>
        
        
        </div>
        <div>
            <label for="password">Password</label>
            <p><input type="password" name="pswd"  placeholder="Enter password" [(ngModel)]="signupObj.password" required minlength="10" pattern="^[a-zA-Z0-9@]*+$" #password="ngModel"  ngModel></p>
            
            
        </div>
        <div>
            <button [disabled]="!register.valid" (click)="onSignUp()">Sign Up</button>
        </div>
    </form>
</div>
    
    
