form{
    margin-left: 600px;
    border: 1px solid;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
    background-color:blueviolet;

}
button{
    color:white;
    background-color: orange;
    margin-right: 20px;
    border-radius: 15px;
    padding:10px;
    margin-bottom: 20px;

}
h1{
    margin-left: 5px;
    color: red;
}
.block
{
    text-align: center;
}
input{
    width:200px;
    padding: 3px;
}
label{
    margin-right: 140px;
    font-weight: bold;
}
mat-icon
{
    color: red;
}